/* public/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#test-container {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    flex-direction: column;
    align-items: stretch;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#question-container {
    position: relative;
    text-align: left;
    margin-bottom: 20px;
}

#question-container p {
    font-size: 18px;
    margin-bottom: 10px;
}

#question-container ul {
    list-style-type: none;
    padding: 0;
}

#question-container ul li {
    margin-bottom: 10px;
}

#question-container ul li input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.matching-container {
    display: flex;
    justify-content: space-between;
}

.matching-container .options, .matching-container .images {
    width: 45%;
}

.matching-container ul {
    list-style-type: none;
    padding: 0;
}

.matching-container li {
    margin-bottom: 10px;
}

.matching-container select {
    margin-right: 10px;
}